Repository mannol/moetaku.co, changes with the labels that .github/labeler.yml gives for each.
All labels: server, frontend, config, deps-changed

feat: create error page
  src/App.js
  src/components/ErrorInfo.js
  src/pages/Error.js
Labels: frontend

fix: babel configuration for SSR
  package.json
  server.js
  yarn.lock
Labels: server, deps-changed

feat: use SSR for rendering errors from tunnel
  example.env
  public/index.html
  src/App.js
  src/pages/Error.js
  src/server/controllers/render.js
  src/server/controllers/static.js
  src/server/controllers/tunnel.js
  src/server/index.js
  src/server/middlewares/createContext.js
  src/server/middlewares/createErrorRenderer.js
  src/util/Proxy.js
Labels: server, frontend

docs: create README
  README.md
Labels: none

chore: add license
  LICENSE
Labels: none

feat: add now env map
  now.json
Labels: none

fix: remove unused fonts to lower bundle size
  src/scss/_theme.scss
  src/scss/fonts/_fira-code.scss
Labels: frontend

chore: remove now.json
  now.json
  package.json
Labels: deps-changed

chore: remove node engine spec
  package.json
Labels: deps-changed

docs: fix typo
  README.md
Labels: none

.github/labeler.yml:

server:
  - ./src/server/*
  - ./server.js
  - ./tools/loop.js

frontend:
  - ./public/*
  - ./src/*.js
  - ./src/components/*
  - ./src/constants/*
  - ./src/pages/*
  - ./src/redux/*
  - ./src/scss/*
  - ./src/util/*

config:
  - ./.*
  - ./nodemon.json

deps-changed:
  - ./package.json
  - ./yarn.lock
